@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  align-items: stretch;
  background-color: #efefef;
  color: #666;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Cutive Mono', monospace;
  font-size: 4vmin;
  height: 100vh;
  justify-content: center;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:visited {
  color: #c66;
  text-decoration: none;
}
a:active {
  color: #6cc;
}
a:hover {
  color: #c6c;
  text-decoration-color: #fcc;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.main {
  background-color: white;
  border-radius: 2.5vmin;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
              0 1px 10px 0 rgba(0,0,0,0.12),
              0 2px 4px -1px rgba(0,0,0,0.2);
  display: grid;
  grid-template-areas: ". . ."
                       ". main ."
                       ". . .";
  grid-template-columns: [left] 2.5vmin [main-left] auto [main-right] 2.5vmin [right];
  grid-template-rows: [top] 2.5vmin [main-top] auto [main-bottom] 2.5vmin [bottom];
  margin: 5vh 5vw;
  width: 100%;
}

.cont {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  grid-area: main;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

.cont > div {
  margin-bottom: 2vmin;
  width: 100%;
}

.title {
  font-family: 'Major Mono Display', monospace;
  font-size: 7vmin;
  font-weight: 800;
}

.insta,
.aud,
.vids {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.insta img {
  height: 10vmin;
  width: 10vmin;
}

.ico {
  text-align: center;
}

.aud img {
  height: 15vmin;
}

.vids img {
  width: 15vmin;
}

.games img {
  width: 12vmin;
}
