@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');

.title {
  font-family: 'Major Mono Display', monospace;
  font-size: 7vmin;
  font-weight: 800;
}
